---
layout: base.njk
permalink: /about/index.html
title: من نحن | Alamelhada Apps
---
<section class="pagehead"><span>من نحن</span><h1>نبني منتجات رقمية عملية وواضحة.</h1><p>Alamelhada Apps مساحة لتطوير ونشر تطبيقات Android وتجارب رقمية تخدم المستخدم العربي والعالمي.</p></section>
