---
layout: base.njk
permalink: /contact/index.html
title: تواصل | Alamelhada Apps
---
<section class="pagehead"><span>تواصل معنا</span><h1>للدعم والاستفسارات</h1><p>البريد الإلكتروني: <a href="mailto:{{site.email}}">{{site.email}}</a></p></section>
